.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
  width: 100px;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}

th {
	width: 33%;
	text-align: center;
}

.sidebar {
	border: black solid 1px;
	margin-top: 5px;
	text-align: center;
}	

.sidebar input {
	margin-top: 10px;

}

#firstBox {
	width: 90%;
}

#secondBox{
	margin-top: 5%;
	margin-bottom: 5%;
}

#addressBox{
	width: 100%;
	text-align: center;
	border: black solid 1px;
	margin-top: 10%;
}

#addressInput{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.inputLabels{
		display: inline-block;

}

#anyInput{
	width:100%;
	display: inline-block;
}

#authorInput{
	width:100%;
	display: inline-block;

}

#titleInput{
	width:100%;
	display: inline-block;

}

#locationInput{
	width:100%;
}