<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body ng-app="starter">
    <div class="container-fluid">
      <div class="row">
        <div id="col1" class="col-md-8">
          <div ng-view> 
            <div ng-controller='HomeCtrl' id="firstBox" class="container">
              <h1>Welcome to the Paine Library</h1>
              <div class="inputLabels">
                <label>Any: <input id="anyInput" ng-model="search.$"></label>
                <label>Author: <input id="authorInput" ng-model="search.author"></label><br>
                <label>Title: <input id="titleInput" ng-model="search.title"></label>
                <label>Location: <input id="locationInput" ng-model="search.location"></label>
              </div>
              <table class="table table-striped table-bordered">
                <thead class="thead-inverse">
                   <tr>
                     <th ng-repeat="header in tblData">{{ header }}</th>
                     <th></th>
                     <th></th>
                   </tr>
                </thead>
                <form action="">
                  <tbody>
                    <tr id="row{{rowId}}" ng-repeat="item in books.data | filter:search:strict" ng-init="rowId = $index">
                      <td><edit-in-place value="item.author"></edit-in-place></td>
                      <td><edit-in-place value="item.title"></edit-in-place></td>
                      <td><edit-in-place value="item.location"></edit-in-place></td>
                      
                      <td><button class="btn btn-primary" ng-click="updateEntry(item.id, item)" OnClick= "window.location.reload()">Edit</button></td>
                      
                      <td><button class="btn btn-primary" ng-click="deleteEntry(item.id); remove(rowId)">Remove</button></td>
                    </tr>
                  </tbody>
                </form> 
              </table>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="sidebar"> 
          <div ng-app="starter" ng-controller="ipChanger" id="secondBox">
            <h4>Add a book to the collection</h4>
            <form action="{{action}}" method="POST">
              <p>Title:
                <input type="text" ng-model="book.title" placeholder="Title of Book" name="title">
              </p>
              <p>Author(s)
                <input type="text" ng-model="book.contributor" placeholder="Author(s)" name="author">
              </p>
              <p>Location:
                <input type="text" ng-model="location" placeholder="Location" name="location" value="N/A">
              </p>
              <input type="submit" value="Submit to Database">
            </form> 
              <div id="addressBox" class="col-md-12">
                <h5>Input Server Address</h5>
                <input id="addressInput" ng-model="action">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/scripts.ejs %>
  </body>
</html>


